.navbar {
    background-color: #000; 
    width: 100%;
}

.navbar .nav-link {
    color: #FEF9EC !important; 
    font-size: 1.2rem;
    font-weight: bold;
}

.navbar .nav-link:hover {
    color: #a40018 !important; 
}

.navbar .navbar-toggler {
    border-color: #a40018; 
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.navbar-nav .nav-item {
    margin-left: 8px;
}

.navbar-nav .nav-item .nav-link {
    margin: 0;
    padding: 0.5rem 1rem; 
    display: flex;
    align-items: center; 
}


.navbar .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.9); 
    border: none; 
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}


.navbar .dropdown-item {
    color: white; 
    padding: 10px 20px; 
    transition: background-color 0.3s ease; 
}

.navbar .dropdown-item:hover {
    background-color: rgba(69, 5, 5, 0.5); 
    color: white; 
}


.navbar .dropdown-toggle::after {
    border-top-color: white; 
}


body {
    background-color: #000;
}


.row h1 {
    font-size: 3rem;
    text-align: center; 
    margin-bottom: 20px; 
    color: #a40018; 

}




.gallery-section {
    width: 100%; 
    margin: 0 auto; 
    padding: 60px 0; 
}

.carousel-inner {
    overflow: hidden;
}

.carousel-item img {
    max-height: 660px; 
    object-fit: cover; 
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(94, 9, 9, 0.5); 
    border-radius: 50%; 
    padding: 10px; 
}

@media (max-width: 768px) {
    .carousel-item img {
        max-height: 300px; 
    }
}








footer h5 {
    font-size: 1.2rem;
    margin-bottom: 15px;
  }
  
  footer a {
    color: #ffffff;
    text-decoration: none;
  }
  
  footer a:hover {
    color: #d4d4d4;
    text-decoration: underline;
  }
  
  footer .fab {
    font-size: 1.5rem;
  }
  
  footer p {
    margin-bottom: 5px;
  }