.navbar {
    background-color: #000; 
    width: 100%;
}

.navbar .nav-link {
    color: #FEF9EC !important; 
    font-size: 1.2rem;
    font-weight: bold;
}

.navbar .nav-link:hover {
    color: #a40018 !important; 
}

.navbar .navbar-toggler {
    border-color: #a40018; 
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.navbar-nav .nav-item {
    margin-left: 8px;
}

.navbar-nav .nav-item .nav-link {
    margin: 0;
    padding: 0.5rem 1rem; 
    display: flex;
    align-items: center; 
}


.navbar .dropdown-menu {
    background-color: #FEF9EC; 
    border: none; 
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}


.navbar .dropdown-item {
    color: #000; 
    padding: 10px 20px; 
    transition: background-color 0.3s ease; 
}

.navbar .dropdown-item:hover {
    background-color: rgba(69, 5, 5, 0.5); 
    color: white; 
}


.navbar .dropdown-toggle::after {
    border-top-color: white; 
}



#mision-vision-historia {
    background-color: #000; /* Fondo negro */
    color: #fff; /* Texto blanco */
}




#mission-vision-historia i {
    transition: transform 0.3s ease, color 0.3s ease; /* Suaviza la animación */
    
  }
  

  
  #mission-vision-historia h5 {
    margin-top: 15px;
    font-size: 1.25rem;
    font-weight: bold;
    color: #a40018 !important;
  }
  


  .seccion4 .tituloSeccion4 {
    padding-top: 25px;
    padding-bottom: 45px;
    font-size: 45px;
}



.seccion4 {
    background-color: #000; /* Color de fondo suave */
    padding-top: 60px;
    padding-bottom: 60px;
}

/* Estiliza los títulos y descripciones */
.producto-item h5 {
    font-size: 1.25rem;
    font-weight: bold;
    color: #666;
    margin-top: 15px;
}

.producto-item p {
    color: #a40018;
    margin-top: 10px;
}


.tituloSeccion4 {
    font-size: 2.5rem;
    color: #a40018;
    margin-bottom: 1.5rem;
}

#productos {
    position: relative;
    z-index: 1;
}

body {
  background-color: #000;
}


#seccion3 {
  margin-top: 100px;
    padding: 40px 0; 
    background-color: #000;
  }
  
  #seccion3 .titulajes {
    margin-top: 45px;
    font-size: 28px; 
    color: #a40018; 
    text-align: left; 
    border-bottom: 2px solid #fff;
  }
  
  #seccion3 p {
    font-size: 16px; 
    line-height: 1.6; 
    color: #fff; 
    text-align: justify; 
    margin-top: 5px; 
  }
  
  #seccion3 .video-container {
    width: 100%; 
    padding-top: 56.25%; 
    position: relative; 
    border-radius: 10px; 
    overflow: hidden; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin-left: 15px; 
  }
  
  #seccion3 .video-container iframe {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    border: 0; 
  }



  .image-gallery {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
    gap: 20px; 
    padding: 20px;
    background-color: #000;

    
}

.image-item {
    flex: 1 1 calc(25% - 40px); 
    max-width: calc(25% - 40px); 
    position: relative;
    overflow: hidden;
}

.image-item img {
    width: 100%;
    height: auto;
    clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
}



@media (max-width: 768px) {
    .image-item {
        flex: 1 1 calc(50% - 20px); 
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .image-item {
        flex: 1 1 100%; 
        max-width: 100%;
    }
}



footer h5 {
    font-size: 1.2rem;
    margin-bottom: 15px;
  }
  
  footer a {
    color: #ffffff;
    text-decoration: none;
  }
  
  footer a:hover {
    color: #d4d4d4;
    text-decoration: underline;
  }
  
  footer .fab {
    font-size: 1.5rem;
  }
  
  footer p {
    margin-bottom: 5px;
  }
  