.navbar {
    background-color: #000; 
    width: 100%;
}

.navbar .nav-link {
    color: #FEF9EC !important; 
    font-size: 1.2rem;
    font-weight: bold;
}

.navbar .nav-link:hover {
    color: #a40018 !important; 
}

.navbar .navbar-toggler {
    border-color: #a40018; 
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.navbar-nav .nav-item {
    margin-left: 8px;
}

.navbar-nav .nav-item .nav-link {
    margin: 0;
    padding: 0.5rem 1rem; 
    display: flex;
    align-items: center; 
}


.navbar .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.9); 
    border: none; 
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}


.navbar .dropdown-item {
    color: white; 
    padding: 10px 20px; 
    transition: background-color 0.3s ease; 
}

.navbar .dropdown-item:hover {
    background-color: rgba(69, 5, 5, 0.5); 
    color: white; 
}


.navbar .dropdown-toggle::after {
    border-top-color: white; 
}







.price-table {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    min-height: 50px; /* Ajusta según sea necesario */
    padding: 5px;
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.price-table .numeros {
    margin-bottom: 15px; 
    font-size: 2rem;
}


.price-table h3 {
    font-size: 1.5rem;
}



.price-table .mt-3 {
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px; 
}

.price-table:hover {
    background-color: #a40018 !important;
    margin-top: -40px;
    font-weight: bold;
    color: #FEF9EC;
    z-index: 10;
    transform: scale(1);
    transition: all 0.4s ease-in;
    border: none;
    box-shadow: rgba(127, 197, 207, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.5) 0px 30px 60px -30px;
}






.accordion-button {
    background-color: #fff; /* Cambia el color de fondo del botón del acordeón */
    color: #000; /* Cambia el color del texto */
}

.accordion-button:not(.collapsed) {
    background-color: #a40018; /* Color de fondo cuando está expandido */
    color: #f8f9fa;
}

.accordion-body {
    background-color: #f8f9fa; /* Fondo claro para el cuerpo del acordeón */
    color: #333; /* Color de texto */
}
